.single_solution {
  margin-bottom: 15px;
}

.solution_content {
  height: 100px;
}

.solution_image {
  width: 100%;
  overflow: hidden;
}

#solution_show {
  .solution_image {
    overflow: hidden;
    height: 300px;
    margin-bottom: 40px;
  }
  h1 {
    margin-bottom: 0;
  }
}

.solution_actions {
  margin-bottom: 25px;
  .button_to {
    display: inline-block;
  }
  .button {
    margin-right: 10px;
  }
}

.video_embed {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.small_img {
  width: 250px;
}

.user_details {
  margin-top: 25px;
  span {
    display: block;
  }
}

.solutions.show {
  h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 5px;
  }
}

#share_btns {
  p {
    margin-bottom: 5px;
    &.small {
      margin-bottom: 25px;
    }
  }
}

.nxt_btns {
  margin-top: 50px;
  .half {
    margin: 0;
  }
  .right {
    text-align: right;
  }
}
