%br

%p If you do not want to partake in this service you can ask to have your data deleted and you will not receive any further correspondence.
= mail_to GizSolutions.config.support_email, GizSolutions.config.support_email, subject: 'Unsubscribe'
