%br

%p
  If you do not want to partake in this service you can send an email to: #{mail_to GizSolutions.config.support_email, GizSolutions.config.support_email, subject: 'Remove me' } with the subject 'Remove me' and we will delete your acount from our service.
