.container
  .full_width
    %h3 Are you ready to Announce the winners?
    %p Once this is executed the three winners will be highlighted on the home page. The currently selected winners are listed here for shortlisting purposes:

    %p
      =button_to I18n.t('buttons.announce_winners'), admin_application_state_path(state: ApplicationState.states['announce_winners']), class: 'secondary button', method: :put

    %br

    -if winning_solutions.any?
      #all_solutions.inner_container
        = render partial: 'solutions/solution', collection: winning_solutions

    -else
      %p.bold No winners selected so far

    %p
      = link_to I18n.t('buttons.download_solutions'), :admin_export_solutions, class: 'button secondary'

    %p
      If you want to go back and continue accepting new submissions click here:

      =button_to I18n.t('buttons.continue_collection'), admin_application_state_path(state: ApplicationState.states['collection']), class: 'button secondary', method: :put
