.large_cta.full_width.center
  - if ApplicationState.instance.collection?
    =link_to t('buttons.submit_solution'), :new_solution, class: 'button'
  - elsif ApplicationState.instance.judging?
    %p=t('solution.judging.title')
  - elsif ApplicationState.instance.announce_winners?
    %p=t('solution.winners.title')
    #all_solutions.inner_container
      = render partial: 'solutions/solution', collection: winning_solutions
  =link_to t('buttons.browse_solution'), :solutions, class: 'button secondary'
