.grey_block
  .container
    .full_width
      .extra_thinner
        %h3=t('home.title')

.container
  .full_width
    .thinner
      %p GIZ is looking for innovators, entrepreneurs, start-ups, NGO both small and large to submit their solutions in an open call for ideas.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  #home_cta.full_width.center
    =link_to t('buttons.submit_solution'), :new_user_registration, class: 'button'
    =link_to t('buttons.browse_solution'), :solutions, class: 'button secondary'
