.container
  .full_width
    .thinner
      %h3 Legal Information
      %p This website has been compiled with the utmost care. Nevertheless, GIZ gives no guarantee that the information provided is current, accurate, complete or error-free. GIZ accepts no liability for damage or loss arising directly or indirectly from the use of this website, provided it has not been caused intentionally or by gross negligence.

      %p GIZ expressly reserves the right to modify, append and delete the website in part or in whole without prior notice, or to halt publication completely or for a limited period.

      %p This website contains links to external sites. Responsibility for the content of the external sites linked to this website always lies with their respective publishers. When the links to these sites were first posted, GIZ checked the third-party content to establish whether it could give rise to civil or criminal liability. However, the constant review of the linked external sites cannot reasonably be expected without concrete indication of a violation of rights. If GIZ itself becomes aware or is notified by a third party that a linked external site gives rise to civil or criminal liability, it will remove the link to this site immediately. GIZ expressly dissociates itself from such content.

      %p The content of this website is protected by copyright. The images used are marked with photo credits where required by law. The use of any images requires the prior consent of GIZ GmbH.
