%p Hi

%p="#{@new_solution.user.name} has just submitted a new solution to the GIZ Call for Solutions website"

=link_to 'Take a look', solution_url(@new_solution), class: 'button'

%br
%p Thanks,
%p The GIZ Call for Solutions team

%br
= render partial: 'shared/email_signature'


