.container
  .full_width

    %h3 The winners should have been chosen as the judging has been marked as over

    -if winning_solutions.any?
      = render partial: 'solutions/solution', collection: winning_solutions

    -else
      %p No winners selected so far

    %p Do you need make an ammendment to continue judging?

    =button_to I18n.t('buttons.continue_judging'), application_state_path(state: ApplicationState.states['judging']), method: :put
