.button {
  text-transform: uppercase;
  font-family: $condensed-font-family !important;
  font-weight: 800 !important;
  padding: 0.6em 0.75em !important;

  &.secondary {
    background-color: $light-gray;
    color: $primary-color;

    &:hover {
      background-color: darken($light-gray, 10%);
    }
  }
  @include mobile {
    margin-bottom: 10px !important;
    display: block;
  }
}

.unstyle_button {
  background-color: transparent;
  line-height: 25px;
  &:hover {
    background-color: transparent;
  }
}
