footer {
  background-color: $primary-color;
  color: $white;
  margin-top: 25px;
  font-family: $condensed-font-family;
  p {
    margin-bottom: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 23px;
    &:hover {
      color: rgba(255,255,255,0.7);
    }
    div.button {
      margin-top: -15px;
    }
  }
  .button_to {
    display: inline-block;
  }
}

.centre {
  text-align: center;
}

.socials {
  margin-top: 15px;
  a {
    padding: 5px;
    margin-right: 5px;

    &:first-child {
      padding-left: 0px;
    }
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.iconbtn {
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 11px !important;
  img {
    height: 20px;
    width: auto;
    vertical-align: text-bottom;
  }
  &.facebook {
    background-color: #3B5998;
  }
  &.twitter {
    background-color: #00aced;
  }
}

.solutions.index {
  footer {
    #browse_btn {
      display: none;
    }
  }
}
