footer {
  background-color: $primary-color;
  color: $white;
  margin-top: 25px;
  font-family: $condensed-font-family;
  p {
    margin-bottom: 0;
  }
  .button_to {
    display: inline-block;
  }
}

.solutions.index {
  footer {
    #browse_btn {
      display: none;
    }
  }
}
