#{$all-text-inputs} {
  border: 1.5px solid rgba($black, 0.3);
  &:hover {
    border: 1.5px solid rgba($black, 0.6);
  }
  &:focus {
    box-shadow: none;
    border: 1.5px solid rgba($black, 1);
  }
}

.form-actions {
  margin-top: 30px;
}
.simple_form {
  margin-bottom: 25px;
}

.full_width_cta {
  input {
    width: 100%;
  }
}
