#{$all-text-inputs} {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  font-family: $condensed-font-family;
  &:hover {
    border: 1px solid rgba($black, 0.6);
  }
  &:focus {
    box-shadow: none;
    border: 1px solid rgba($black, 1);
  }
}

label, button, .button, input[type=submit] {
  font-family: $condensed-font-family;
  text-transform: uppercase;
}

.input label {
  margin-bottom: 1px;
}

.form-actions {
  margin-top: 30px;

  &.full_width_cta {
    input {
      width: 100%;
    }
  }
}
.simple_form {
  margin-bottom: 25px;
}
#new_solution, .edit_solution {
  .input {
    margin-bottom: 40px;
  }
}

#error_explanation {
  color: #fff;
  background-color: $red;
  padding: 15px;
  margin-bottom: 15px;
  h2 {
    color: #fff;
    text-transform: none;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.simple_form span.hint {
  margin-top: 0px;
}
