header {
  background-color: $light-gray;
  position: relative;
  .logo {
    display: inline-block;
    z-index: 1;
    width: 30%;
    @include mobile {
      width: 100%;
    }
  }
  .container {
    position: relative;
  }
  .logo_bg {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    background-color: #fff;
  }
  .grey_section {
    display: inline-block;
    margin-left: 25px;
  }
  img {
    height: 50px;
  }
  a {
    text-decoration: none;
    vertical-align: middle;
  }
  h2 {
    text-transform: uppercase;
    font-family: $condensed-font-family;
    margin-bottom: 0;
    font-weight: 600;
    margin-top: 0px;
    a {
      color: $dark-gray;
      &:hover {
        color: darken($dark-gray, 40%);
      }
    }
  }
  @include mob_tab {
    text-align: center;
    background-color: #fff;
    nav {
      background-color: #fff;
    }
    .align_right {
      text-align: center;
    }
    .logo_bg {
      display: none;
    }
  }
}


nav {
  background-color: $light-gray;
  .container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  a, .unstyle_button {
    text-decoration: none;
    vertical-align: middle;
    color: $primary-color;
    font-weight: 600;
    padding: 2px;
    margin-right: 35px;
    font-family: $condensed-font-family;
    font-size: 17px;
    line-height: 35px;

    &:hover {
      color: $primary-color;
      border-bottom: 2px solid;
    }
  }
  .button_to {
    display: inline-block;
  }
  .sticky_cont {
    @include mobile {
      a:not(.active) {
        display: none;
      }
      .up_link {
        display: inline-block !important;
        margin-right: 5px;
        padding-right: 10px;

        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}

.sessions.new #log_in_nav, .solutions.index #browse_nav, .registrations.new #submit_nav, .pages.home #overview_nav, nav .active {
  border-bottom: 2px solid;
}


.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
