header {
  background-color: $light-gray;
  position: relative;

  .logo {
    vertical-align: top;
    display: inline-block;
    z-index: 1;
    width: 28%;
    text-align: center;
    @include mobile {
      width: 100%;
    }
    a {
      vertical-align: text-bottom !important;
    }
  }
  .container {
    position: relative;
    padding: 30px 15px;
  }
  .logo_bg {
    width: 33%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    background-color: #fff;

    @include hd-desktop {
      width: 35%;
    }
  }
  .grey_section {
    display: inline-block;
    margin-left: 95px;
    margin-top: 5px;
  }
  img {
    width: 236px;
  }
  a {
    text-decoration: none;
    vertical-align: middle;
  }
  h2 {
    text-transform: uppercase;
    font-family: GravurCodensedLight;
    margin-bottom: 0;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 38px;
    a {
      color: #666;
      &:hover {
        color: #666;
        border-bottom: 1px solid $primary-color;
      }
    }
    @include mob_tab {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 1076px) {
    .logo_bg {
      width: 28%;
    }
    .grey_section {
      margin-left: 10px;
    }
  }
  @media (min-width: 2000px) {
    .logo_bg {
      width: 40%;
    }
  }

  @include mob_tab {
    text-align: center;
    background-color: #fff;
    nav a, .unstyle_button {
      margin-right: 15px;
      margin-left: 15px;
    }
    .container {
      padding: 0;
      padding-top: 14px;
    }
    .align_right {
      text-align: center;
    }
    .grey_section {
      background-color: $light-gray;
      margin-left: 0;
      padding: 14px;
      padding-top: 20px;
      position: inherit;
      width: 100%;
    }
    .logo_bg {
      display: none;
    }
  }
}


nav {
  background-color: $light-gray;
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a, .unstyle_button {
    text-decoration: none;
    vertical-align: middle;
    color: $primary-color;
    font-weight: 400;
    padding: 2px;
    margin-right: 35px;
    font-family: $condensed-font-family;
    font-size: 17px;
    line-height: 32px;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    -webkit-font-smoothing: unset;
    white-space: nowrap;

    &:hover {
      color: $primary-color;
      border-bottom: 2px solid;
    }
  }
  .button_to {
    display: inline-block;
  }
  .up_link {
    display: none !important;
  }
}
.sticky_cont {
  a {
    // font-size: 20px !important;
  }
  @include mobile {
    // a:not(.active) {
    //   display: none;
    // }
    #home_link {
      display: none;
    }
    a {
      font-size: 17px !important;
    }
    .up_link {
      display: inline-block !important;
      margin-right: 5px;
      padding-right: 10px;

      &:hover {
        border-bottom: none;
      }
    }
  }
}

header nav {
  a, .unstyle_button {
    font-size: 20px;
    margin-right: 25px;
  }
  .unstyle_button {
    margin-right: 0;
  }
}

.sessions.new #log_in_nav, .solutions.index #browse_nav, .registrations.new #submit_nav, .pages.home #overview_nav, nav .active {
  border-bottom: 2px solid;
}


.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
