.hero {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    @include mob_tab {
      width: 100%;
      height: auto;
    }
  }
  h1, h2 {
    color: #000;
    font-size: 38px;
    line-height: 42px;
    font-weight: 500;
    @include mob_tab {
      font-size: 30px;
    }
  }
  h2 {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .hero_overlay {
    position: absolute;
    bottom: 75px;
    left: 0;
    width: 100%;
    @include mobile {
      position: static;
      width: 100%;
    }
    .hero_cont {
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 47px;

      @include hd-desktop {
        max-width: 1300px;
      }
      @include mob_tab {
        padding: 0;
      }
    }
    .hero_inner {
      width: 50%;
      padding: 20px;
      color: #333;
      background-color: rgba($white, 0.8);
      @include mob_tab {
        position: static;
        width: 100%;
        padding: 20px;
      }
    }
    h1 {
      margin-bottom: 0;
    }
    .container {
      padding: 15px;
    }
    .buttons_cont {
      margin-top: 15px;
      .button {
        margin-right: 15px;
      }
    }
  }

  @include desktop {
    height: 600px;
    img {
      transform: translateY(-10%);
    }
  }
  @include mob_tab {
    height: auto;
  }
}
