html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.timeline {
  position: relative;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: GravurCodensedLight, $condensed-font-family;
  .time_section {
    display: inline-block;
    width: 16%;
    text-align: center;

    &.small_sec {
      width: 10%;
    }
    &.final_sec {
      float: right;
    }
  }
  .top_section {
    .time_section {
      line-height: 25px;

      &.active {
        font-weight: 600;
      }
    }
  }
  .timeline_line {
    border-top: 1px solid rgba($black, 0.5);
    margin-top: 12px;

    .time_section {
      border-left: 1px solid rgba($black, 0.5);
      height: 30px;
      position: relative;
      &.active:before {
        border-radius: 5px;
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        left: -8px;
        top: 0;
        -webkit-transform: translate3d(6px,-5px,0);
        transform: translate3d(6px,-5px,0);
        width: 103%;
        z-index: 1;
        background-color: $red;
      }
      &.small_sec.active:before {
        width: 111%;
      }
      &.final_sec.active:before {
        width: 101%;
      }
    }
    .final_sec {
      border-right: 1px solid rgba($black, 0.5);
    }
  }
  .bottom_section {
    .time_section {
      text-align: left;
    }
    .date {
      float: left;
      text-transform: uppercase;
      margin-left: -15px;
      text-align: center;
      span {
        font-size: 25px;
        font-weight: 600;
        line-height: 21px;
      }
      span:first-child {
        font-size: 15px;
        letter-spacing: 0.5px;
        font-weight: 500;
      }
    }
    .final_date {
      text-align: right;
      float: right;
      margin-left: 0px;
      margin-right: -15px;
    }
    span {
      display: block;
    }
  }
  .highlighted_dates {
    .lines div {
      height: 40px;
      border-left: solid 2px $red;
      display: inline-block;
      width: 16%;
    }
    .num_1, .num_3 {
      margin-left: calc(16% + 5px);
    }
    // .num_3 {
    //   margin-left: 15%;
    // }
    .highlight {
      margin-top: -5px;
      float: left;
      width: 16%;
      line-height: 25px;
      p {
        margin-left: -46%;
        width: 100%;
        max-width: 150px;
        text-align: center;
        color: $red;
      }
      &.num_3 {
        margin-left: 16%;
        p {
          margin-left: -33%;
        }
      }
      &.num_2 {
        p {
          margin-left: -39%;
        }
      }
    }
  }




  @include mobile {
    .time_section {
      display: block;
      width: 100%;
      &.small_sec {
        width: 100%;
      }
      &.final_sec {
        float: none;
      }
    }
    .top_section, .bottom_section, .timeline_line, .highlighted_dates {
      width: 27%;
      display: inline-block;
    }
    .top_section {
      vertical-align: top;
      margin-top: 30px;
      .time_section {
        line-height: 20px;
        margin-bottom: 70px;
        &.small_sec {
          margin-bottom: 34px;
          margin-top: -7px;
        }
      }
    }
    .timeline_line {
      border-left: 1px solid rgba($black, 0.5);
      width: auto;
      border-top: none;
      margin-top: 0px;
      margin-left: 15px;
      height: 100%;
      .time_section {
        border-left: none;
        border-top: 1px solid rgba($black, 0.5);
        height: 100px;
        width: 30px;
        &.active:before {
          width: 10px;
          top: 4px;
          left: -11px;
          height: 103%;
        }
        &.small_sec {
          height: 65px;
        }
        &.small_sec.active:before {
          height: 111%;
          width: 30px;
        }
        &.final_sec.active:before {
          height: 101%;
          width: 30px;
        }
      }
      .final_sec {
        border-bottom: 1px solid rgba($black, 0.5);
        border-right: none;
      }
    }
    .bottom_section {
      width: auto;
      position: absolute;
      margin-top: -10px;
      .time_section {
        text-align: left;
      }
      .date {
        float: none;
        margin-left: 20px;
        text-align: left;
        margin-bottom: 54px;
      }
      .final_date {
        text-align: left;
        float: none;
        margin-right: 0px;
      }
      span {
        display: block;
      }
      .small_sec {
        .date {
          margin-bottom: 15px;
        }
      }
    }
    .highlighted_dates {
      float: right;
      width: 37%;

      .lines {
        width: 16%;
        margin-left: 6px;
        display: inline-block;
      }
      .text {
        width: 64%;
        float: right;
        margin-top: 80px;
      }
      .lines div {
        height: 100px;
        width: 100%;
        border-left: none;
        border-top: solid 2px $red;
        display: block;
        margin-left: 3px;
      }
      .num_1 {
        margin-top: 100px;
        margin-left: 0 !important;
      }
      .num_3 {
        margin-top: 75px;
        margin-left: 0 !important;
      }
      .highlight {
        margin-left: 0px;
        margin-top: 0;
        float: none;
        height: 100px;
        width: auto;
        display: inline-block;
        p {
          margin-left: 0 !important;
          width: 100%;
          max-width: 100%;
          text-align: left;
          color: $red;
        }
        &.num_3 {
          margin-top: 60px;
          margin-left: 0 !important;
        }
      }
    }
  }
}

