h1, h2, h3 ,h4 {
  font-size: 24px;
  line-height: 28px;
  font-family: $condensed-font-family;
  font-weight: 600;
  // color: $primary-color;
  text-transform: uppercase;
  @include desktop {
    font-size: 29px;
    line-height: 38px;
  }
}

body {
  font-size: 18px;
  line-height: 27px;
}

h1 {
  font-size: 33px;
  line-height: 40px;
}


.grey_block {
  background-color: $light-gray;
}
.red_block {
  background-color: $primary-color;
  color: $white;
}

.thinner, .extra_thinner {
  margin: 0 auto;
  @include desktop {
    max-width: 85%;
  }
}

.extra_thinner {
  max-width: 90%;
  @include desktop {
    max-width: 75%;
  }
}


.char_count {
  font-size: 75%;
  margin-top: ($small-spacing*-1);
  display: block;
  margin-bottom: $small-spacing;
}

.normal {
  font-weight: 400;
}

.sub_title {
  font-size: 135%;
  font-family: $condensed-font-family;
  font-weight: 600;
  // color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.small_break {
  padding-top: 0;
  padding-bottom: 0;
}

.red {
  color: $primary-color;
}

.clear {
  clear: both;
}

.accordion {
  .fa {
    margin-right: 5px;
    font-size: 25px;
    vertical-align: text-bottom;
    transform: rotate(0deg);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  .open {
    .fa {
      transform: rotate(45deg);
    }
  }
}

.two-thirds { // 4 column
  @include grid-column(12, $mobile_grid);

  @include desktop {
    @include grid-column(8);
    &.center {
      @include grid-push(2);
    }
  }
}
