.home {
  h3 {
    color: $primary-color;
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
  }
  #home_cta {
    margin: 25px 0;

    .button {
      margin: 0 10px;
      font-size: 22px;
    }
  }
}
