// @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');

@font-face {
  font-family: 'GravurCodensed-Regular';
  src:url(asset-path('fonts/GravurCodensed-Regular.woff'));
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GravurCodensed-Bold';
  src:url(asset-path('fonts/GravurCodensed-Bold.woff'));
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GravurCodensed-Light';
  src:url(asset-path('fonts/GravurCodensed-Light.woff'));
  font-weight: light;
  font-style: normal;
}

$primary-color: #B50D1C;
$light-gray: #eceded;

$base-border-radius: 0;

// $base-font-family: 'EB Garamond', $font-stack-system;
$base-font-family: 'Open Sans', $font-stack-system;
$condensed-font-family: 'GravurCodensed-Regular', sans-serif;
