@font-face {
  font-family: 'GravurCodensedRegular';
  src: font-url('GravurCodensedRegular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GravurCodensedBold';
  src: font-url('GravurCodensedBold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GravurCodensedLight';
  src: font-url('GravurCodensedLight.woff');
  font-weight: light;
  font-style: normal;
}

@font-face{
    font-family: 'StempelGaramondRoma';
    src: font-url('StempelGaramondW02Roma.eot');
    src: font-url('StempelGaramondW02Roma.eot?#iefix');
    src: font-url('StempelGaramondW02Roma.woff2');
    src: font-url('StempelGaramondW02Roma.woff');
    src: font-url('StempelGaramondW02Roma.ttf');
}

@font-face{
  font-family: 'StempelGaramondW02Ital';
  src: font-url('StempelGaramondW02Ital.eot');
  src: font-url('StempelGaramondW02Ital.eot?#iefix');
  src: font-url('StempelGaramondW02Ital.woff2');
  src: font-url('StempelGaramondW02Ital.woff');
  src: font-url('StempelGaramondW02Ital.ttf');
}
@font-face{
  font-family: 'StempelGaramondW02Bold';
  src: font-url('StempelGaramondW02Bold.eot');
  src: font-url('StempelGaramondW02Bold.eot?#iefix');
  src: font-url('StempelGaramondW02Bold.woff2');
  src: font-url('StempelGaramondW02Bold.woff');
  src: font-url('StempelGaramondW02Bold.ttf');
}
@font-face{
  font-family: 'StempelGaramondW02BdIt';
  src: font-url('StempelGaramondW02BdIt.eot');
  src: font-url('StempelGaramondW02BdIt.eot?#iefix');
  src: font-url('StempelGaramondW02BdIt.woff2');
  src: font-url('StempelGaramondW02BdIt.woff');
  src: font-url('StempelGaramondW02BdIt.ttf');
}


$primary-color: #c30f08;
$light-gray: #F1F1F1;
$dark-gray: #B4B4B4;

$base-border-radius: 0;

$base-font-family: 'StempelGaramondRoma', $font-stack-system;
$base-font-family-bold: 'StempelGaramondW02Bold', serif;
$condensed-font-family: 'GravurCodensedRegular', sans-serif;


.bold {
  font-family: $base-font-family-bold;
}
