%p Welcome #{@name},
%p Thank you for joining us! Complete your account registration by clicking the link below.
%p= link_to 'Confirm my account', @devise_link

%p You have until the 31st of October to edit or update your submission!

%br
%p We can’t wait to receive your submission!
%p The GIZ Call for Solutions team

= render partial: 'shared/email_signature'
