.container
  .full_width
    .thinner
      - if solutions.any?
        %h3=t('solution.all.title')
        #all_solutions.inner_container
          = render partial: 'solution', collection: solutions
      -else
        %h3=t('solution.all.none')
        
      - if deleted_solutions.present?
        %h3=t('solution.all.deleted_title')
        = render partial: 'deleted_solution', collection: deleted_solutions
