.container
  .full_width
    .thinner
      - if solutions.any?
        %h3=t('solution.all.title')
        #all_solutions.inner_container
          = render partial: 'solution', collection: solutions
      -else
        %h3=t('solution.all.none')
        .large_cta.full_width.center
          =link_to t('buttons.submit_solution'), :new_user_registration, class: 'button'
          =link_to t('buttons.go_home'), :root, class: 'button secondary'
