#sign_up_form.container
  .full_width
    .thinner
      - if solutions.any?
        %h3=t('solution.all.title')
        = render partial: 'solution', collection: solutions
      -else
        %h3=t('solution.all.none')

      - if deleted_solutions.any? && current_user.admin?
        %h3=t('solution.all.deleted_title')
        = render partial: 'deleted_solution', collection: deleted_solutions
