#sign_up_form.container
  .full_width
    .thinner
      - if solutions.any?
        %h3=t('solution.all.title')
        = render partial: 'solution', collection: solutions
      -else
        %h3=t('solution.all.none')
