.container.centre#share_btns
  .full_width
    %p Share this page on Facebook or Twitter:
    %p.small By clicking these buttons, you'll leave the GIZ website.

    =link_to I18n.t('buttons.url.facebook', share_url: page_og_url), target: '_blank', class: 'button iconbtn facebook' do
      =image_tag('icon-facebook-footer.svg')
      %span= I18n.t('buttons.facebook')

    =link_to I18n.t('buttons.url.twitter', share_url: page_og_url), target: '_blank', class: 'button iconbtn twitter' do
      =image_tag('icon-twitter-footer.svg')
      %span= I18n.t('buttons.twitter')

%footer{:class => "site-footer", :role => "contentinfo"}
  .container
    .third
      %ul
        %li=link_to 'Registration information', 'https://www.giz.de/en/html/registration_information.html', target: '_blank'
        %li=link_to "Terms and conditions", asset_path("giz_terms_conditions.pdf"), target: '_blank'
        %li=link_to "Data policy", asset_path("giz_data_processing.pdf"), target: '_blank'
        %li=link_to 'Legal information', "https://www.giz.de/en/html/legal_information.html", target: '_blank'
        %li.socials
          =link_to 'https://www.facebook.com/solutionchallenge', target: '_blank' do
            =image_tag('icon-facebook-footer.svg')
          =link_to 'https://www.twitter.com/call4solutions', target: '_blank' do
            =image_tag('icon-twitter-footer.svg')
          =link_to 'https://www.youtube.com/user/GIZonlineTV', target: '_blank' do
            =image_tag('icon-youtube-footer.svg')
          =link_to 'https://www.linkedin.com/solutionchallenge', target: '_blank' do
            =fa_icon 'linkedin'
          =link_to 'https://www.giz.de/de/mediathek/115.html', target: '_blank' do
            =image_tag('icon-rss-footer.svg')

