.container
  %h1=link_to 'GizSolutions', :root
  = link_to 'All solutions', :solutions
  - if current_user
    = button_to "Log out", :destroy_user_session, method: :delete
  -else
    = link_to "Log In", :new_user_session, class: 'button'
