.container.centre
  .full_width
    %p Share this page on Facebook or Twitter:

    =link_to I18n.t('buttons.url.twitter', share_url: page_og_url), target: '_blank', class: 'button iconbtn twitter' do
      =image_tag('icon-twitter-footer.svg')
      %span= I18n.t('buttons.twitter')

    =link_to I18n.t('buttons.url.facebook', share_url: page_og_url), target: '_blank', class: 'button iconbtn facebook' do
      =image_tag('icon-facebook-footer.svg')
      %span= I18n.t('buttons.facebook')

%footer{:class => "site-footer", :role => "contentinfo"}
  .container
    .third
      %ul
        %li=link_to 'Registration information', 'https://www.giz.de/en/html/registration_information.html', target: '_blank', class: 'button'
        %li=link_to 'Legal Information', "https://www.giz.de/en/html/legal_information.html", target: '_blank', class: 'button'

