.container
  .third
    %ul
      %li.button Registration information
      %li.button Data Protection
      %li=link_to 'Legal Information', terms_path, class: 'button'


  .two-thirds
    %ul
      %li
        %p
          (By clicking on one of these links you will leave the GIZ website)

      %li
        =link_to I18n.t('buttons.url.twitter', share_url: page_og_url), target: '_blank' do
          =image_tag('icon-twitter-footer.svg')
          .button= I18n.t('buttons.twitter')

      %li
        =link_to I18n.t('buttons.url.facebook', share_url: page_og_url), target: '_blank' do
          =image_tag('icon-facebook-footer.svg')
          .button= I18n.t('buttons.facebook')

